{
  "semi": true,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "all",
  "printWidth": 100,
  "plugins": ["@trivago/prettier-plugin-sort-imports", "prettier-plugin-tailwindcss"],
  "importOrder": [
    "^react",
    "^react-router-dom",
    "<THIRD_PARTY_MODULES>",
    "^@/config/(.*)$",
    "^@/types/(.*)$",
    "^@/stores/(.*)$",
    "^@/services/(.*)$",
    "^@/hooks/(.*)$",
    "^@/components/(.*)$",
    "^@/layouts/(.*)$",
    "^@/pages/(.*)$",
    "^@/assets/(.*)$",
    "^@/(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
